.root
{
    /*-fx-background-color: linear-gradient(from 400px 400px to 800px 800px, #e2ecd9, #62e7bf);*/

    -fx-font-size: 14pt;
}

.label
{
    -fx-text-fill: #000000;
}

#header
{
    -fx-font-size: 30pt;
}

.headerInstagramLabel{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20pt;
}

.white-background{
    -fx-background-color: white;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7d7d7;
}

.selected {
    -fx-background-color: #f3f3f3;
}
.mouse-moved :hover{
    -fx-background-color: #e4e4e4;
}

.sideBar-separator{
    -fx-background-color: #f3f3f3;
}


.button-round-layout{
    -fx-border-radius: 0 50 50 0;
    -fx-border-color: #D7d7d7;
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 0 50 50 0;

}
.search-mouse-hover :hover{
        -fx-background-color: #caf39a;
        -fx-background-radius: 0 50 50 0;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0), 10,0,0,10);
}

.user-card-background-radius{
    -fx-background-radius: 30;
}

.profileImage{
    -fx-border-radius: 70 70 70 70;
    -fx-border-color: black;

}

.textarea{
    -fx-background-color: white;
    -fx-display-caret: false ;
}

/*Login button CSS*/

.loginButton-HBox{
    -fx-background-color: #C6F0EE;
    -fx-border-radius: 50;
    -fx-border-color: #D7d7d7;
    -fx-background-radius: 50;
}
.loginButton{
    -fx-text-fill: white;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;

}
.loginButton-hover :hover{
    -fx-background-color: #0d6dfe;
    -fx-background-radius: 50;
    -fx-font-weight: bold;
}


.black-background{
    -fx-background-color: #fafafa;
}

.view-posts-hBox :hover{
    -fx-background-color: #caf39a;
    -fx-background-radius: 20 0 20 0;
}

.view-home-hBox :hover{
    -fx-background-color: #caf39a;
    -fx-background-radius: 20 0 20 0;
}

.view-search-hBox :hover{
    -fx-background-color: #caf39a;
    -fx-background-radius: 20 0 20 0;
}


.scrollPane-background{
    -fx-background-color: #fafafa;
}


.back-button-hover :hover{

    -fx-background-color: #caf39a;

}


